@import "../variables";

.react-flow {
  & &__handle {
    width: 30px;
    height: 14px;
    border-radius: 3px;
    background-color: $handle-background-color;
    &-top {
      top: -24px;
    }

    &-bottom {
      bottom: -24px;
    }
  }

  &__node {
    height: 40px;
    align-items: center;
    display: flex;
  }

  :is(&__edge, &__connectionline) {
    path {
      stroke-width: 2;
    }
  }
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}
