@import "../assets/scss/variables";

.gender-node {
  padding: 16px 48px;
  border-radius: $node-border-radius;

  &--type-female {
    background-color: $node-gender-female-background;
  }

  &--type-male {
    background-color: $node-gender-male-background;
  }
}
